/* NAVBAR */
.navbar-theme {
    background: rgb(127, 49, 148);
    /*background: rgb(49, 86, 148);*/
}

/* HOME PAGE */
#logo {
    width: 150px;
    max-width: 100%;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: rgb(127, 49, 148) !important;
}

.nav-pills a.nav-link {
    color: rgb(127, 49, 148);
}

@media (max-width: 768px) {
  #section-nav-links {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}

/* NO MATCH */
.notfound {
  width: 100%;
}

.notfound .notfound-404 {
  height: 280px;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 230px;
  margin: 0px;
  font-weight: 900;
  background: url('./bg.jpg') no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}


.notfound h2 {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}


@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
      height: 200px;
    }

    .notfound .notfound-404 h1 {
      font-size: 150px;
    }

    .notfound h2 {
        font-size: 28px;
    }
}

/* RAYS OF SUNSHINE */
.links-list p {
    margin-bottom: 0;
}

.links-last-child {
    border-bottom-width: 0 !important;
}
