/* SITE WIDE */
body {
  font-family: "Source Sans Pro", sans-serif !important;
  background-color: white;
}

h2, h3, h4, blockquote {
  margin-top: 30px !important;
}

.section-summary h2, .section-summary h3, .section-summary h4, 
.section-summary blockquote {
  /* Correct the styling for the section summaries. */
  margin-top: 0px !important;
}


/* NAVBAR */
.navbar-theme {
    background: rgb(127, 49, 148);
    /*background: rgb(49, 86, 148);*/
}

/* HOME PAGE */
#logo {
    width: 180px;
    max-width: 100%;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: rgb(127, 49, 148) !important;
}

.nav-pills a.nav-link {
    color: rgb(127, 49, 148);
}

.lead-btn-link {
  font-size: 1.25rem !important;
  font-weight: 300 !important;
}

@media (max-width: 768px) {
  #section-nav-links {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}

/* NO MATCH */
.notfound {
  width: 100%;
}

.notfound .notfound-404 {
  height: 280px;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 230px;
  margin: 0px;
  font-weight: 900;
  background: url('./bg.jpg') no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}


.notfound h2 {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}


@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
      height: 200px;
    }

    .notfound .notfound-404 h1 {
      font-size: 150px;
    }

    .notfound h2 {
        font-size: 28px;
    }
}

/* BLOCKQUOTE */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 1em 20px;
  quotes: "\201C""\201D""\2018""\2019";
}

/*
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: .1em;
  margin-right: .25em;
  vertical-align: -.4em;
}*/

blockquote p {
  display: inline;
}


/* RAYS OF SUNSHINE */
.links-list p {
    margin-bottom: 0;
}

.links-last-child {
    border-bottom-width: 0 !important;
}